In [ ]:
#Exercise 1:
#Write a Python program to create a list of 5 integers and perform the following
operations:
○ Print the list.
○ Append a new integer to the list.
○ Sort the list in ascending order.
○ Reverse the elements of the list.

In [ ]:
my_list = [9,2,7,4,5]
print('Orignal list' ,my_list)
my_list.append(6)
print('list after append' ,my_list)
my_list.sort()
print('Asssendng order list' , my_list)
my_list.sort(reverse=True)
print('desending order list' , my_list)

Orignal list [9, 2, 7, 4, 5]
list after append [9, 2, 7, 4, 5, 6]
Asssendng order list [2, 4, 5, 6, 7, 9]
desending order list [9, 7, 6, 5, 4, 2]

Exercise 2:
Create a tuple of 4 elements and perform the following operations:
○ Print the tuple.
○ Access the third element of the tuple.
○ Concatenate the tuple with another tuple of 2 elements.
○ Print the length of the concatenated tuple.

In [ ]:
tuple = (3,4,8,'hello python')
print('Orignal tuple' , tuple)
print(('access third element: ') ,tuple[3])
tuple_1 = (7,8)
new_tuple = tuple + tuple_1
print(new_tuple)
print(('length of new concatenated tuple:') ,len(new_tuple))

Orignal tuple (3, 4, 8, 'hello python')
access third element:  hello python
(3, 4, 8, 'hello python', 7, 8)
length of new concatenated tuple: 6

In [ ]:
# Create Dictionary
Exercise 3:
Create a dictionary representing a student record with keys: 'name', 'roll_number',
'marks'. Perform the following operations:
○ Print the dictionary.
○ Update the marks to 85.
○ Check if 'grade' key exists, if not, add 'grade' with value 'A'.

In [ ]:
dict_1 = {"name" : "munaza" , "Roll_num" : "17" , "marks" : "72"}
print("Orignal dictionary" ,dict_1)
dict_1["marks"] = 85
print("marks updated in dictionary" , dict_1)
dict_1["grade"] = 'A'
print(dict_1)

Orignal dictionary {'name': 'munaza', 'Roll_num': '17', 'marks': '72'}
marks updated in dictionary {'name': 'munaza', 'Roll_num': '17', 'marks': 85}
{'name': 'munaza', 'Roll_num': '17', 'marks': 85, 'grade': 'A'}

Exercise 4:Write a program that reads a list of integers and returns a new list containing only the
even numbers using list.

In [ ]:
def even_num(list):
    even_list = []
    for x in list:
      if x % 2 == 0:
        even_list.append(x)
    return even_list
even_list = even_num([1,2,3,45,6,7])
print(even_list)

[2, 6]

Exercise 5:
Write a Python program that takes two lists of integers as input and returns a new list
containing elements common to both lists, without duplicates.

In [ ]:
def common_num(list1 , list2):
  set1 =set(list1)
  set2 = set(list2)
  common_set = set1 & set2
  common_list = list(common_set)
  return common_list
list1 = [int(x) for x in input('Enter any list ').split(',')]
list2 = [int(x)for x in input('Enter any list').split(',')]
print(common_num(list1 , list2))

Enter any list 1,2,3,4
Enter any list2,4,8,9
[2, 4]

In [ ]:
def even_num():
  even_list = [1,2,3,4,5,6,7,8,9]
  for x in even_list:
    if x % 2 == 0:
      print(x)
even_num()
print(even_num)

2
4
6
8
<function even_num at 0x7b9bde7b3eb0>

Write a Python function that takes a list of tuples, each tuple containing a student's
name and their average score, and returns a list of names sorted by their scores in
descending order.

In [ ]:
def student_data():
  tuple_list = [('sania : 85') , ('sidra : 90')]
  for x in tuple_list:
    sort = sorted(x)
    sort.reverse()
    print(x)
student_data()

sania : 85
sidra : 90

Exercise 7:

Write a program that checks if one set is a subset of another set.

In [ ]:
def subset(set1 , set2):
  if set1.issubset(set2):
    print('set1 is subset of set2')
set1 = {1,2,3}
set2 = {1,2,3,4,5}
subset(set1 , set2)

set1 is subset of set2

Exercise 8:
Implement a function that takes a list of strings as input and returns a new list of
strings sorted by the length of each string, from shortest to longest.

In [49]:
def my_string():
  new_string = ('munaza , zari , python , hello')
  for x in (len(new_string)):
    print(new_string)
    new_string.sort()
  my_string()
  print(my_string)

Exercise 9:
Write a Python program to implement a function that takes a list of integers as input
and returns a new list containing only the unique elements, preserving their original
order.

In [33]:
def diff_num(list1 , list2):
  set1 = set(list1)
  set2 = set(list2)
  diff_set = set1 - set2
  diff_list = list(diff_set)
  return diff_list
list1 = [int(x) for x in input('Enter any list ').split(',')]
list2 = [int(x)for x in input('Enter any list').split(',')]
print(diff_num(list1 , list2))

Enter any list 1,7,4,9
Enter any list2,8,1
[9, 4, 7]

Exercise 10:
Create a dictionary representing a word frequency counter from a given list of words.
Write a program to find the top 3 most frequent words and their frequencies.

In [48]:
def freq_count(string):
  freq = {}
  for x in string.split():
    if x in freq:
      freq[x] += 1
    else:
      freq[x] = 1
  return freq
string = ('hello python, hello , hy , hello , hy , apple , apple')
print(freq_count(string))
#

{'hello': 3, 'python,': 1, ',': 5, 'hy': 2, 'apple': 2}